@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body {
    font-size: 16px;
}

a {
    min-width: 48px;
    min-height: 48px;
}
/*
    base
 */
/*header*/
header {
    padding-top: 1em;
}

.logo {
    width: 80px;
    height: 80px;
}

.header-title {
    text-align: right;
    padding-left: 0;
}

.title-name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.2em;
    font-weight: normal;
}

.title-sub {
    color: #666;
    margin: 0;
}
/*main*/
.hero-img {
    padding: 0;
}

.section-title {
    font-weight: normal;
    color: #aaa;
    margin-bottom: 0;
}

.project {
    text-align: center;
    margin-top: 1.2em;
}

.project-name {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0.5em;
}
/*footer*/
footer {
    text-align: center;
    font-size: 1.5em;
}

.social {
    padding: 0 1em;
}

/*
media queries
 */
@media screen and (max-width: 599px) {
    .project {
        padding: 0 2em;
    }
}

@media screen and (min-width: 600px) and (max-width: 991px){
    .logo {
        width: 100px;
        height: 100px;
    }

    .title-name {
        font-size: 3em;
    }

    .project-detail {
        display: flex;
        padding: 0;
        box-shadow: 1px 1px 10px #ddd;
    }

    .project-image {
        padding: 1em;
        width: 45%;
        height: 30%;
    }

    .project-info {
        width: 55%;
        vertical-align: middle;
    }

    .project-name {
        font-size: 2.5em;
        padding: 1em 0;
    }

    .project-link {
        color: #666;
    }
}

@media screen and (min-width: 760px) {
    .logo {
        width: 120px;
        height: 120px;
    }

    .title-name {
        font-size: 4em;
    }

    .section-title {
        font-size: 2.5em;
    }
}