<header class="site-header">

  <div class="container">
    <div class="row">
      <div class="header-title col-xs-12 col-sm-6">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>

    <div class="col-xs-12 col-sm-6">
      <nav class="site-nav">
          <a class="page-link" href="{{ site.baseurl }}/">home</a>
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
      </nav>
    </div>

    </div>
  </div>

  <div class="wrapper">
      <h1 class="header-title">
        {% if page.title %}
           {{ page.title }}
           {% else %}
              <span class="home-statement"><  Every Thing is Awesome_  ></span>
        {% endif %}
      </h1>
  </div>
</header>
