/**
 * Site header
 */
.site-header {
    background-size: cover;
    text-align: center;
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.site-header .container {
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    width: 100%;
    //@extend .wrapper;
}


.site-title {
    padding-top: 0.5em;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    &:hover {
        text-shadow: 1px 1px 5px #666;
        color: #ccc;
        text-decoration: none;
    }
    @media screen and (min-width: 768px) {
        text-align: left;
        padding-top: 0.5em;
    }
}

.site-nav {
    @media screen and (min-width: 768px) {
        float: right;
        text-align: left;
        padding-top: 1em;
    }
    @include media-query($on-palm) {
        padding-top: 1em;
    }
}

.header-title {
    padding-top: 0.2em;
    font-weight: 700;
    font-size: $title-font-size;
    color: #fff;
    text-shadow: 1px 1px 10px #555;
    @media screen and (min-width: 768px) {
        padding: 2em 0 0.2em;
        font-size: 48px;
    }
}

.page-link {
    font-size: 14px;
    display: inline-block;
    font-weight: 200;
    text-decoration: underline;
    color: #fff;
    padding-left: 2em;
    text-transform: uppercase;
    &:hover {
        color: #ddd;
    }
    @include media-query($on-palm) {
        padding: 0 10%;
    }
}

.home-statement {
    display: inlineï¼block;
    letter-spacing: 0.05em;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    color: #888;
    font-size: 20px;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        font-size: 32px;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    font-weight: 700;
    display: block;
    font-size: 24px;
}

.post-excerpt a {
    color: #666;
}
.post-date {
    font-weight: 300;

}

.post-author {
    font-weight: 800;
    color: #555;
    margin-right: 2em;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
