/**
 * Site header
 */
.site-header {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#015352+0,6f996a+72,a7b3a2+100 */
background: #015352; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #015352 0%, #6f996a 72%, #a7b3a2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #015352 0%,#6f996a 72%,#a7b3a2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #015352 0%,#6f996a 72%,#a7b3a2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#015352', endColorstr='#a7b3a2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    text-align: center;
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.site-header .container {
    width: 100%;
    max-width: 1200px;
}

.site-header .wrapper {
    @media screen and (min-width: 768px) {
        margin-top: 5em;
        padding-bottom: 2em;
    }
}

.site-title {
    padding-top: 0.8em;
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    &:hover {
        color: #a3bEa3;
        text-decoration: none;
    }
    @media screen and (min-width: 768px) {
        text-align: left;
        padding-top: 0.5em;

    }
}

.site-nav {
    padding-top: 0.5em;
    @media screen and (min-width: 768px) {
        float: right;
        text-align: left;
        padding-top: 1.2em;
    }
}

.header-title {
    font-weight: 700;
    font-size: $title-font-size;
    color: #fff;
}

.page-link {
    font-size: 14px;
    display: inline-block;
    font-weight: 200;
    text-decoration: underline;
    padding: 0.2em 0.5em;
    color: #fff;
    text-transform: uppercase;
}

.home-statement {
    display: inline－block;
    letter-spacing: 0.02em;
    padding: 0.2em;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
